@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Пользователи онлайн</h2>
        <div id="chatusers"></div>
    </div>
    <div class="col-md-4">
        <fieldset>
            <h2>Добавить запись</h2>
            Введите сообщение: <br />
            <textarea cols="50" id="message" name="tempComment"></textarea>
            <br />
            <input class="btn btn-default" type="submit" id="sendmessage" style="margin-top: 10px;">
        </fieldset>
    </div>
    
    <div class="col-md-4">
        <h2>Chat room here</h2>
        <div id="chatroom"></div>
    </div>
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" value="@User.Identity.Name" />
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/Utils.js"></script>

